.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 230px;
  height: 35px;
  font-size: 20px;
}
button {
margin-top: 2rem;
width: 190px;
height: 30px;
font-size: 19px;
}

.food {
  width: 450px;
  height: 250px;
  border: 2px solid black;
  margin: 9px;
}