.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 250px;
  height: 35px;
  font-size: 20px;
}
button {
margin-top: 2rem;
width: 250px;
height: 35px;
font-size: 20px;
}